<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <div class="bg-gray-100 p-1 flex w-full mb-4 mx-auto rounded-lg">
    <app-switch-tab
      class="w-full"
      [label]="'Login'"
      [isActive]="isLoginMode"
      (switch)="onSwitchMode(true)"
    >
    </app-switch-tab>

    <app-switch-tab
      class="w-full"
      [label]="'Register'"
      [isActive]="!isLoginMode"
      (switch)="onSwitchMode(false)"
    >
    </app-switch-tab>
  </div>

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <app-input-field
      [label]="'Username'"
      [controlName]="'username'"
      [type]="'text'"
      [control]="getControl('username')"
      [errorMessage]="'Username is required (min 4 characters).'"
      [isInvalid]="isInvalid('username')"
      [ariaInvalid]="getAriaInvalid('username')"
    ></app-input-field>

    <app-input-field
      [label]="'Password'"
      [controlName]="'password'"
      [type]="'password'"
      [control]="getControl('password')"
      [errorMessage]="'Password is required (min 6 characters).'"
      [isInvalid]="isInvalid('password')"
      [ariaInvalid]="getAriaInvalid('password')"
    ></app-input-field>

    <button
      type="submit"
      class="w-full bg-blue-500 text-white py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-50"
      [disabled]="accountForm.invalid"
    >
      {{ isLoginMode ? "Login" : "Register" }}
    </button>
  </form>
  <div
    *ngIf="customAuthService.loginErrorSignal()"
    class="mt-4 p-3 bg-red-100 text-red-600 rounded-md"
  >
    {{ customAuthService.loginErrorSignal() }}
  </div>
</div>
