<div class="md:py-4">
  <div
    role="main"
    aria-label="Chat area"
    class="max-w-[40rem] relative w-full md:rounded-xl overflow-hidden md:shadow md:border mx-auto"
  >
    <div
      #messageContainer
      role="list"
      class="overflow-auto bg-white p-4 md:h-[calc(100vh-15rem)] h-[calc(100vh-14rem)] space-y-4"
    >
      @for (message of messages$ | async; track message; let i = $index) {
      <div
        [ngClass]="message.isAi ? 'justify-start' : 'justify-end'"
        class="flex"
      >
        <app-message
          [message]="message"
          [no]="i"
          role="listitem"
          [attr.aria-posinset]="i + 1"
          [attr.aria-setsize]="(messages$ | async)?.length"
        >
        </app-message>
      </div>
      } @if(processing){
      <span
        class="text-gray-400 text-xs absolute bottom-16"
        aria-live="polite"
        role="status"
      >
        AI processing your request...
      </span>
      }
    </div>

    <div role="region" aria-label="Message input area">
      <app-create-message></app-create-message>
    </div>
  </div>
</div>
