<div *ngIf="message.text">
  <div style="background-color: #fff">
    <span class="block bg-slate-200 text-slate-500"
      >Preview - {{ message.status }}</span
    >
    <div
      class="p-2"
      [ngClass]="{ 'text-slate-500': message.status === 'draft' }"
    >
      {{ message.text }}
    </div>
  </div>
</div>

<form (ngSubmit)="onSubmit()">
  <label class="mt-4">
    <div>Write Message</div>
    <textarea
      class="block w-full"
      required
      [(ngModel)]="message.text"
    ></textarea>
  </label>

  <button
    type="submit"
    [disabled]="message.status === 'pending'"
    class="pointer bg-blue-400 py-2 px-4 mt-2 w-full"
    [ngClass]="{ 'bg-gray-400': message.status === 'pending' }"
  >
    Send
  </button>
</form>
