@if (message.isValid()) {
<div role="region" aria-label="Message Preview">
  <app-message [message]="message.toMessage()" no="preview"></app-message>
</div>
}

<form (submit)="onSubmit()">
  <label class="mt-4 block">
    <div>Write Message</div>
    <textarea
      class="block w-full p-2"
      required
      [(ngModel)]="message.content"
      [ngModelOptions]="{ standalone: true }"
      aria-label="Message text area"
    ></textarea>
  </label>

  <button
    type="submit"
    [disabled]="message.status === 'pending'"
    [ngClass]="{
      'py-2 px-4 mt-2 w-full': true,
      'bg-blue-400 pointer': message.status !== 'pending',
      'bg-gray-400': message.status === 'pending'
    }"
    [attr.aria-busy]="message.status === 'pending' ? 'true' : null"
    aria-label="Send Message"
  >
    Send
  </button>
</form>
